<h1>Liste des produits</h1>
<div class="list-produits">
	<ul > 
		<li class="item-list-produits row" ng-repeat="item in $ctrl.listObjects">
			<img src="{{item.image_url}}" class="img-rounded col-md-4 col-md-offset-0 img-responsive col-xs-8 col-xs-offset-2" ng-if="item.image_url != ''">
			<div class="col-md-8 col-xs-12">
				 <div class="item-title">
				 	{{item.title}}
				 </div>
				 <div class="item-description">
				 	{{item.description}}	
				 </div>
				 <div class="item-type">
				 	{{$ctrl.getItemTypeText(item.type)}}
				 </div>
			</div>
		</li>
	</ul>
</div>
