<h1>Admin Liste des produits</h1>
<form novalidate class="form-add">
    <div class="form-group">
        <label for="titre">Titre de l'article</label>
        <input type="text" class="form-control" id="titre" placeholder="Titre de l'article" ng-model="$ctrl.itemToAdd.title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" ng-model="$ctrl.itemToAdd.description">
    </div>
    <div class="form-group">
        <label for="url">Url de l'image</label>
        <input type="text" class="form-control" id="url" placeholder="url" ng-model="$ctrl.itemToAdd.image_url">
    </div>
    <div class="form-group">
        <label for="type">type de produit</label>
        <select class="form-control" id="type" ng-model="$ctrl.itemToAdd.type">
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.addItem()">Ajouter</button>
</form>
<div class="list-produits" ng-show="$ctrl.itemToAdd.title != null || $ctrl.itemToAdd.description != null || $ctrl.itemToAdd.type != null">
    <ul>
        <li class="item-list-produits row item-added">
            <img src="{{$ctrl.itemToAdd.image_url}}" class="img-rounded col-md-4 col-md-offset-0 img-responsive col-xs-8 col-xs-offset-2" ng-hide="$ctrl.itemToAdd.image_url == null || $ctrl.itemToAdd.image_url == '' ">
            <div class="col-md-6 col-xs-10">
                <div class="item-id">
                    {{item.ID}}
                </div>
                <div class="item-title">
                    {{$ctrl.itemToAdd.title}}
                </div>
                <div class="item-description">
                    {{$ctrl.itemToAdd.description}}
                </div>
                <div class="item-type">
                    {{$ctrl.itemToAdd.type}}
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="filters">
    <label for="search">Filtrer les produits</label>
    <input type="text" class="form-control" id="search" placeholder="Recherche dans les produits" ng-model="search.text">
    <div class="form-group">
        <label for="searchType">type de produit</label>
        <select class="form-control" id="searchType" ng-model="search.type">
        	<option value="">Tous</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
        </select>
    </div>
</div>
<div class="list-produits">
    <ul>
        <li class="item-list-produits row" ng-repeat="item in $ctrl.listObjects | filter:search.text | filter:{type : search.type}">
            <img src="{{item.image_url}}" class="img-rounded col-md-4 col-md-offset-0 img-responsive col-xs-8 col-xs-offset-2" ng-if="item.image_url != ''">
            <div class="col-md-6 col-xs-10">
                <div class="item-id">
                    {{item.ID}}
                </div>
                <div class="item-title">
                    {{item.title}}
                </div>
                <div class="item-description">
                    {{item.description}}
                </div>
                <div class="item-type">
                    {{item.type}}
                </div>
            </div>
            <div class="col-xs-2 pull-right">
                <button class="btn btn-primary btn-delete" ng-click="$ctrl.deleteItem(item)">Supprimer</button>
                <button class="btn btn-secondary btn-edit" ng-click="$ctrl.setEditItem(item)">Modifier</button>
            </div>
            <form novalidate ng-show="item.isEditing" class="col-sm-12">
                <div class="form-group">
                    <label for="titre">Titre de l'article</label>
                    <input type="text" class="form-control" id="titre" placeholder="Titre de l'article" ng-model="$ctrl.itemToEdit.title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Description" ng-model="$ctrl.itemToEdit.description">
                </div>
                <div class="form-group">
                    <label for="url">Url de l'image</label>
                    <input type="text" class="form-control" id="url" placeholder="url" ng-model="$ctrl.itemToEdit.image_url">
                </div>
                <div class="form-group">
                    <label for="type">type de produit</label>
                    <select class="form-control" id="type" ng-model="$ctrl.itemToEdit.type">
                        <option value="1">option 1</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                        <option value="4">option 4</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" ng-click="item.isEditing = false">Annuler l'édition</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.editItem()">Editer</button>
            </form>
        </li>
    </ul>
</div>