<h1>Liste des packs</h1>
<div class="list-produits">
    <ul>
        <li class="item-list-produits row" ng-repeat="item in $ctrl.listObjects">
            <img src="{{item.image_url}}" class="img-rounded col-md-4 col-md-offset-0 img-responsive col-xs-8 col-xs-offset-2" ng-if="item.image_url != ''">
            <div class="col-xs-12" ng-class="{'col-md-12':item.image_url=='', 'col-md-8':item.image_url!=''}">
                <h3 class="item-title">
				 	{{item.title}}
				 </h3>
                    <div class="item-prix" ng-show="item.PRIX !==null">
                        {{item.PRIX}}€
                    </div>
                    <div class="item-description">
                        {{item.description}}
                    </div>
                    <div class="item-type">
                        {{$ctrl.getItemTypeText(item.type)}}
                    </div>
            </div>
        </li>
    </ul>
</div>