.item-added {
    margin: 20px 0;
}

.form-add{ 
	padding : 0 0 20px 0;
}

.filters{
	padding:50px;
	border-top:solid 1px lightgrey;
	@media(max-width: $screen-sm-min){
		padding: 20px 0;
	}
}

.list-produits {
    ul {
        padding-left: 0;
        .item-list-produits {
            list-style: none;
            margin: 5px 0;
            border-radius: 10px;
            border: solid 1px lightgrey;
            padding: 5px;
            position: relative;
            background: #FDFDFD;
            margin-bottom: 20px;
            .item-title {
                font-weight: bold;
            }
            .item-type{
                position: absolute;
                top:0px;
                left: 5px;
                color: #AAAAAA;
            }
            .item-prix{
                position: absolute;
                top: 19px;
                right : 10px;
                font-size: 20px;
            }
            .item-description{
            	word-wrap: break-word;
            }
            .item-image {
                max-height: 200px;
                margin: auto;
            }
            .item-id {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.4;
            }
            .btn-delete,
            .btn-edit {
                width: 100%;
            }
            .btn-delete {
                margin-bottom: 10px;
            }
            .img-rounded{
                border-radius: 10%;
            }
        }
    }
}