    <div class="container">
     <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a> 
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ui-sref-active="active"><a ui-sref="presentation">Accueil</a></li>
              <li ui-sref-active="active"> <a href="#">Contact</a></li>
              <li ui-sref-active="active" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nos produits <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="produits({'typeList':0})">Tous les produits</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a ui-sref="produits({'typeList':1})">Produits du type 1</a></li>
                  <li><a ui-sref="produits({'typeList':2})">Produits du type 2</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li  ui-sref-active="active"><a ng-click="$ctrl.goAdmin()">Admin</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <ui-view></ui-view>

        
      </div>

    </div> <!-- /container -->
